/* components/button-link/button-link.wxss */
.container {
  margin-bottom: 20rpx;
}


.link {
  display: block;
  color: blue;
  font-size: 25rpx;
  line-height: 50rpx;
  border-bottom: 1px solid pink;
}