/* pages/example/examples/todo-list/components/header/header.wxss */
.header {
  display: flex;
  padding: 20rpx;
  border-radius: 5px;
  align-items: center;
  background-color: #fff;
  justify-content: space-between;


  .add-btn {
    font-size: 28rpx;
    font-weight: bold;
    color: #000fff;
    padding-left: 20rpx;
    border-left: 2rpx solid #efefef;
  }
}