/** @format */

:host {
  --width: 10rpx;
}

.controller {
  width: 66rpx;
  height: 66rpx;
  position: absolute;
  z-index: 20;

  &.top-left {
    top: 0;
    left: 0;

    &::before {
      left: 0;
      height: 100%;
      content: "";
      display: block;
      width: var(--width);
      position: absolute;
      background-color: #fff;
      transform: translateX(-100%) translateY(calc(-1 * var(--width)));
    }

    &::after {
      top: 0;
      width: 100%;
      content: "";
      display: block;
      height: var(--width);
      position: absolute;
      background-color: #fff;
      transform: translateX(calc(-1 * var(--width))) translateY(-100%);
    }
  }

  &.top-right {
    top: 0;
    right: 0;

    &::before {
      right: 0;
      height: 100%;
      content: "";
      display: block;
      width: var(--width);
      position: absolute;
      background-color: #fff;
      transform: translateX(100%) translateY(calc(-1 * var(--width)));
    }

    &::after {
      top: 0;
      width: 100%;
      content: "";
      display: block;
      height: var(--width);
      position: absolute;
      background-color: #fff;
      transform: translateX(calc(var(--width))) translateY(-100%);
    }
  }

  &.bottom-left {
    bottom: 0;
    left: 0;

    &::before {
      bottom: 0;
      height: 100%;
      content: "";
      display: block;
      width: var(--width);
      position: absolute;
      background-color: #fff;
      transform: translateX(-100%) translateY(calc(1 * var(--width)));
    }

    &::after {
      bottom: 0;
      width: 100%;
      content: "";
      display: block;
      height: var(--width);
      position: absolute;
      background-color: #fff;
      transform: translateX(calc(-1 * var(--width))) translateY(100%);
    }
  }

  &.bottom-right {
    right: 0;
    bottom: 0;

    &::before {
      right: 0;
      height: 100%;
      content: "";
      display: block;
      width: var(--width);
      position: absolute;
      background-color: #fff;
      transform: translateX(100%) translateY(calc(1 * var(--width)));
    }

    &::after {
      bottom: 0;
      width: 100%;
      content: "";
      display: block;
      height: var(--width);
      position: absolute;
      background-color: #fff;
      transform: translateX(calc(var(--width))) translateY(100%);
    }
  }
}
