:host {
  --width: 10rpx;
}

.controller {
  position: absolute;
  z-index: 20;

  &.topLeft {
    &::before {
      left: 0;
      height: 100%;
      content: '';
      display: block;
      width: var(--width);
      position: absolute;
      background-color: #fff;
      transform: translateX(-100%) translateY(calc(-1 * var(--width)));
    }

    &::after {
      top: 0;
      width: 100%;
      content: '';
      display: block;
      height: var(--width);
      position: absolute;
      background-color: #fff;
      transform: translateX(calc(-1 * var(--width))) translateY(-100%);
    }
  }

  &.topRight {
    &::before {
      right: 0;
      height: 100%;
      content: '';
      display: block;
      width: var(--width);
      position: absolute;
      background-color: #fff;
      transform: translateX(100%) translateY(calc(-1 * var(--width)));
    }

    &::after {
      top: 0;
      width: 100%;
      content: '';
      display: block;
      height: var(--width);
      position: absolute;
      background-color: #fff;
      transform: translateX(calc(var(--width))) translateY(-100%);
    }
  }

  &.bottomLeft {
    &::before {
      bottom: 0;
      height: 100%;
      content: '';
      display: block;
      width: var(--width);
      position: absolute;
      background-color: #fff;
      transform: translateX(-100%) translateY(calc(1 * var(--width)));
    }

    &::after {
      bottom: 0;
      width: 100%;
      content: '';
      display: block;
      height: var(--width);
      position: absolute;
      background-color: #fff;
      transform: translateX(calc(-1 * var(--width))) translateY(100%);
    }
  }

  &.bottomRight {
    &::before {
      right: 0;
      height: 100%;
      content: '';
      display: block;
      width: var(--width);
      position: absolute;
      background-color: #fff;
      transform: translateX(100%) translateY(calc(1 * var(--width)));
    }

    &::after {
      bottom: 0;
      width: 100%;
      content: '';
      display: block;
      height: var(--width);
      position: absolute;
      background-color: #fff;
      transform: translateX(calc(var(--width))) translateY(100%);
    }
  }
}